body{
    background-color: rgb(64, 62, 62);
}
div{
    margin-left: 35%;
    margin-top: 10%;
}
button{
    height: 100px;
    width: 100px;
    font-size: 50px;
    color: rgb(103, 100, 100);
    border-width: 5px;
    border-color: gold;
    border-radius: 20px;
}
h1{
    margin-left: 30px;
    color: gold;
}